.navbar {
    color: $primary;
    background: $secondary;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 15px rgba(50, 50, 93, 0.2);
  }
.navbar-brand {
    width: 120px; 
    img, svg {
      width: 100%;
      height: auto;
  }
}

