
.testimonial-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
  text-align: center;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 40em) {
  .testimonial-heading {
      font-size: 50px;
  }
}
  
@media (min-width: 62em) {
  .testimonial-heading {
    margin-top: 2rem;
  }
}
  
/* -------end customization-------- */
  
  